# Server Environment Variables
SERVER_IP=127.0.0.1
SERVER_PORT=3001
NODE_ENV=development
AUTH_KEY=secret

DB_CONNECTION=sqlite

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_USER=
# DB_PASSWORD=
# DB_NAME=dnd


# Client Environment Variables
REACT_APP_SERVER_URL=http://127.0.0.1:3001
